{% extends 'home.html' %}
{% block main %}

<h1>Login Here as an Instructor!</h1>
<form action="{{ url_for('login_instructor') }}" method="POST">
    <div class="ID">
        <label for="stuId">Instructor Id </label>
        <input type="text" name="instructorId" id="stuId" required>
    </div>
    <div class="pswd">
        <label for="pswd">Password </label>
        <input type="password" name="password" id="pswd" required>
    </div>
    <button type="submit">Login</button>
</form>
<p>Not Hired Yet? Apply Here  <a href="{{ url_for('instructor_registration') }}" id="register-from-login"> Apply </a></p>



{% endblock %}